/* admin.css */

/* Navbar customization to match the register page */
.navbar {
    background-color: #516991ab; /* Primary color background for the navbar */
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important; /* White color for the links */
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #cccccc; /* Lighter gray when hovering */
}

.navbar-dark .navbar-toggler {
    border-color: #ffffff; /* White color for the navbar toggler */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
    color: #ffffff !important; /* Ensure text is white by default */
}
